
body {
	font-family: "Arial" ;
	background-color: #ccc;
}
.wrap {
	/* width:300px;
	height: auto; */
	margin: auto;
	border: solid 1px #ccc;
}
.avatar {
	width: 100%;
	margin: auto;
	width: 65px;
	border-radius: 100px;
	height: 65px;
	background: #448ed3 ;
	position: relative;
	bottom: -15px;
}
.avatar img {
	width: 55px;
	height: 55px;
	border-radius: 100px;
	margin: auto;
	border:3px solid #fff;
	display: block;
}
.bar {
	width: 100%;
	height: 1px;
	background: #fff ;
}
.bar i {
	width: 95%;
	margin: auto;
	height: 1px ;
	display: block;
	background: #d1d1d1;
}
.wrap input[type="text"] {
	border-radius: 7px 7px 0px 0px ;
}
.wrap input[type="password"] {
	border-radius: 0px 0px 7px 7px ;
}

.wrap input[type="submit"] {
	/* width: 100%; */
	border-radius: 7px;
	background: #b6ee65;
	height: auto;
	border: none;
	color: #51771a;
  	margin-top:-5px;
	padding-top: 14px;
	padding-bottom: 14px;
	outline: none;
	font-size: 13px;
	border-bottom: 3px solid #307d63;
	cursor: pointer;
	position: relative;
	top: 20px;
}
.wrap span {
	position: relative;
	top: 40px;
	left: 15px;
	color: red;
}
a:hover{
	color: #ccc;
	text-decoration: none;
}
.form-control{
	border-radius: 2px;
    box-shadow: none;
    border-color: #d2d6de;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px 2px 2px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    margin: 2px;
}
.control-label{
	padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    float: left;
    position: relative;
}
.form-group{
	width: 300px;
}
label{
	display: inline-block;
    max-width: 100%;	
}
a.register{
	text-decoration: none;
	color: white;
}
.login_control {
	padding: 2%;
	border: 1px #ccc solid; 
	background-color: #8fcbef;
}

